* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: #ffffff;
  color: #213547;
}

a {
  text-decoration: none;
  color: inherit;
}